################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MVCApp/.vs/MVCApp
/MVCApp/MVCApp/bin/Debug/netcoreapp2.1
/MVCApp/MVCApp/obj
